<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="navbar.css">
  <link rel="stylesheet" href="group.css"> <!-- Link to your new custom CSS file -->
  <link href="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/js/tabulator.min.js"></script>

  <title>Group Page</title>
  <!-- Add any additional CSS or meta tags you need here -->

</head>
<body>
  <input type="checkbox" id="menu-toggle" class="menu-checkbox">

  <nav class="navbar">
    <div class="menu">
      <div class="menu-content">
        <!-- Hamburger Menu Icon -->
        <div class="menu-icon" id="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <!-- Logo -->
        <div class="logo">ChalkIQ</div>
      </div>
      <!-- Menu Items -->
      <ul>
        <li><a href="/mygroup">My Group</a></li>
        <li><a href="/mybets">My Bets</a></li>
        <li><a href="/my-stats">My Stats</a></li>
      </ul>
    </div>
  </nav>

  <div class="tabs">
    <button class="tablinks active" onclick="openTab(event, 'Leaderboard')">Leaderboard</button>
    <button class="tablinks" onclick="openTab(event, 'Stats')">Stats</button>
    <button class="tablinks" onclick="openTab(event, 'Wagers')">Open Bets</button>
  </div>

  <!-- Leaderboard Tab Content -->
 <div id="Leaderboard" class="tabcontent default-open">
   <h3 style="text-align:left; margin-top:20px;"><%= userGroup %> Scoreboard</h3>
   <div id="group-table"></div>
 </div>

 <!-- Stats Tab Content -->
 <div id="Stats" class="tabcontent">
     <h3 style="text-align:left; margin-top:20px;">Stats by Sport</h3>
     <div id="sports-stats-table"></div>

     <h3 style="text-align:left; margin-top:20px;">Record vs Others</h3>
     <div id="user-records-table"></div> <!-- Add a container for user records -->
 </div>

 <!-- Stats Tab Content -->
  <div id="Wagers" class="tabcontent">
    <h3 style="text-align:left; margin-top:20px;"><%= userGroup %> Open Bets</h3>
    <div id="wagers-container" class="wagers-container">
  </div>

  <!-- You can add more content or styling as needed -->
<script src="navbar.js"></script> <!-- JavaScript for navbar functionality -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/js/tabulator.min.js"></script>
<!-- Inside group-page.ejs, at the bottom, just before closing the body tag -->
<script>
  var currentUser = "<%= currentUser %>";
  var userGroup = "<%= userGroup %>";
  var groupUsersData = <%- JSON.stringify(groupUsers) %>; // Pass the EJS data to a JavaScript variable
</script>
<script src="group.js"></script> <!-- Link to your custom JS file -->

<script>
   function openTab(evt, tabName) {
     var i, tabcontent, tablinks;
     tabcontent = document.getElementsByClassName("tabcontent");
     for (i = 0; i < tabcontent.length; i++) {
       tabcontent[i].style.display = "none";
     }
     tablinks = document.getElementsByClassName("tablinks");
     for (i = 0; i < tablinks.length; i++) {
       tablinks[i].className = tablinks[i].className.replace(" active", "");
     }
     document.getElementById(tabName).style.display = "block";
     evt.currentTarget.className += " active";
   }
 </script>

<a href="/games" class="floating-button">+</a>

</body>
</html>
